django==4.2
djangorestframework==3.14.0
pytz==2022.1
psycopg2-binary==2.9.3
django-cors-headers
nltk
numpy
transformers
-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.11.0+cu113
torchvision==0.12.0+cu113
torchaudio==0.11.0+cu113

